<div class="jumbotron">
    <h2 *ngIf="accion === 1">Pasar productos de almacén a la tienda</h2>
    <h2 *ngIf="accion === 2">Devolver productos de la tienda al almacén</h2>
    <h2 *ngIf="accion === 3">Reponer productos en almacén</h2>
</div>

<div class="container">
    <select id="lista-producto" class="form-control">
        <option value="undefined" disabled selected>Seleccione una opción</option>
        <option *ngFor="let producto of productos" value="producto.id">{{producto.nombre}}</option>
    </select><br>
</div>
