<div *ngIf="!tipo.id; then crear_tipo else modificar_tipo">será ignorado</div> 
<ng-template #crear_tipo><h2>Crear tipo de producto</h2></ng-template>
<ng-template #modificar_tipo><h2>Modificar tipo de producto</h2></ng-template>

<label for="tipo-nombre">Nombre: </label>
<input id="tipo-nombre" type="text" [(ngModel)]="tipo.nombre"> <br>
<label for="tipo-descripcion">Descripción: </label>
<textarea id="tipo-descripcion" [(ngModel)]="tipo.descripcion"></textarea><br>

<button id="tipo-guardar" (click)="guardar()">Guardar</button> <button id="tipo-volver" (click)="volver()">Volver</button>

<div *ngIf="mensaje" id="feedback">{{mensaje}}</div>
