<div class="jumbotron"><h2>Navegación</h2></div>

<div class="container">
<nav class="nav flex-column">
    <a class="nav-link" routerLink="/tipo-producto/listar">Listado de tipos de producto</a>
    <a class="nav-link" routerLink="/tipo-producto/">Dar de alta un tipo de producto</a>
    <a class="nav-link" routerLink="/producto/listar">Listado de productos</a>
    <a class="nav-link" routerLink="/producto/">Dar de alta un producto</a>
    <a class="nav-link" routerLink="/transferir/">Pasar productos de almacén a la tienda</a>
    <a class="nav-link" routerLink="/transferir/">Devolver productos de la tienda al almacén</a>
    <a class="nav-link" routerLink="/transferir/">Reponer productos en almacén</a>
  </nav>
</div>
